/* this is the CSS for my "memento GIT" page. (index.html du dossier CODE).
h1 est les caractéristiques du grand titre : MEMENTO.

 */


p
{
	font-size: 14px;
	font-family: arial;
	color : darkseagreen;
}
body
{
	background-color: forestgreen;
}
h1
{
	font-size: 50px;
	font-family: arial;
	color : #505050;
	background-color: mistyrose;
}


h2
{
	font-size: 20px;
	font-family: arial;
	color : steelblue;
}
h3
{
	font-size: 44px;
	font-family: arial;
	color : chartreuse;
}
h5
{
	font-size : 25px;
	font-family: arial;
	color : darkturquoise;
}
h6
{
	font-size: 26px;
	font-family: arial;
	color : royalblue;
}
ol
{
	font-size: 20px;
	font-family: arial;
	color : slategrey;
	background-color: papayawhip;
}

