/* this is the CSS for my "memento GIT" page. (index.html du dossier CODE).
h1 est les caractéristiques du grand titre : MEMENTO.

 */
h1
{
	font-size: 100px;
	font-family: arial;
	color : #505050;
	background-color: mistyrose;
	border-style : dotted;
	border-width : 10px;
	border-color: black;
}

body
{
	background-color: mintcream;
}

h5
{
	font-size : 25px;
	font-family: arial;
	color : darkturquoise;
}

p
{
	font-size: 14px;
	font-family: arial;
	color : darkseagreen;
}

h2
{
	font-size: 20px;
	font-family: arial;
	color : steelblue;
}
h3
{
	font-size: 44px;
	font-family: arial;
	color : chartreuse;
}
h6
{
	font-size: 26px;
	font-family: arial;
	color : royalblue;
	
}
ol
{
	font-size: 20px;
	font-family: arial;
	color : slategrey;
	background-color: papayawhip;
}

